
@{
    ViewBag.Title = "Index";
}
<script src="https://js.stripe.com/v2/"></script>
<script src="https://js.stripe.com/v3/"></script>

<form action="/Payment/Charge" method="POST">
    <article>
        <label>Amount: €1.00</label>
    </article>
    <script src="//checkout.stripe.com/v2/checkout.js"
            class="stripe-button"
            data-key="@ViewBag.StripePublishKey"
            data-locale="auto"
            data-description="Sample Charge"
            data-amount="100">
    </script>
</form>

