@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Sharepoint Games</h1>
    <p class="lead">Welcome to Sharepoint Games!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The Idea</h2>
        <p>
            The idea itself is rather simple, share a login between both a game and a website. However this idea
            has room to grow and expand. I have already implemented a payment system for this service, think of me
            as a less money hungry version of Steam. With this you pay to play the games on this website (Don't worry it's
            not much!) and I have plans to reward members who stay subscribed to the service.
        </p>
    </div>
    <div class="col-md-4">
        <h2>About me</h2>
        <p>My name is Andrew Conway, I'm currently 20 years old and I am nearing the end of my studies in the Institute of 
        Technology Tallaght. From a young age I've had a facsination with games and I wanted it to be an inspiration for this
        4th year project.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Student Information</h2>
        <ul class="student-info">
            <li>Student Name: Andrew Conway</li>
            <li>Student Number: X00121654</li>
            <li>Degree Sought: Bsc (Hons) Computing</li>
            <li>Technologies Used: Unity Development Engine, Azure Cloud DB, Azure Server, MVC, Stripe, Entity Framework.</li>
        </ul>
    </div>
</div>